<%- include("partials/head") %>
<%- include("partials/nav") %>
        <div class="column" id="column-feed">
          <% if (items.length > 0) { %>
            <% items.forEach((plant, index) => { %>
              <div class="block" data-dialog-id="<%= index %>">
                <div class="image-section">
                  <img src="/<%= plant.img %>" alt="Image <%= index + 1 %>">
                </div>
                <div class="text-section">
                  <p><span class="attribute">Uploaded by: </span><%= plant.user_name %></p>
                  <p><span class="attribute">Date and time: </span><%= new Date(plant.dts).toLocaleString() %></p>
                  <p><span class="attribute">Plant name: </span><%= plant.plant_name %></p>
                  <p><span class="attribute">Location: </span><%= plant.lat %>, <%= plant.lon %></p>
                  <p><span class="attribute">Description: </span><%= plant.plant_desc %></p>
                </div>
              </div>

              <dialog id="<%= index %>">
                <div class="dialog-left">
                  <div class="image-section">
                    <img src="/<%= plant.img %>" alt="Image <%= index + 1 %>">
                  </div>
                  <h1><%= plant.plant_name %></h1>
                  <h3><%= plant.user_name %></h3>
                  <p><span class="attribute">Date and time: </span><%= new Date(plant.dts).toLocaleString() %></p>
                  <p><span class="attribute">Plant name: </span><%= plant.plant_name %></p>
                  <p><span class="attribute">Location: </span><%= plant.lat %>, <%= plant.lon %></p>
                  <p><span class="attribute">Description: </span><%= plant.plant_desc %></p>
                  <p><span class="attribute">Height: </span><%= plant.plant_height %> m</p>
                  <p><span class="attribute">Spread: </span><%= plant.plant_spread %> m</p>
                  <p><span class="attribute">DBPedia: </span><a href="<%= plant.db_pedia_link %>"><%= plant.db_pedia_link %></a></p>
                  <p><span class="attribute">Flowers: </span><%= plant.flowers %></p>
                  <p><span class="attribute">Leaves: </span><%= plant.leaves %></p>
                  <p><span class="attribute">Fruits/Seeds: </span><%= plant.fruits_seeds %></p>
                  <p><span class="attribute">Sun Exposure: </span><%= plant.sun_exposure %></p>
                  <p><span class="attribute">Characteristics: </span><%= plant.sun_char %></p>
                  <p><span class="attribute">Plant Colour: </span><%= plant.plant_colour %></p>
                </div>
                <div class="dialog-right">
                  <h2>Live Chat</h2>
                  <p>Chat goes here</p>
                </div>
                <button class="close">Close</button>
              </dialog>
            <% }); %>
          <% } else { %>
            <h1 class="no-posts">No Posts Found!</h1>
          <% } %>
        </div>
        <div class="column" id="column-filter">
          <h2>Filters</h2>
          <form action="/filter" method="POST">
            <label for="sortOrder">Sort By:</label>
            <select id="sortOrder" name="sort_order">
              <option value="newest">Newest First</option>
              <option value="oldest">Oldest First</option>
            </select><br><br>
            <div>Checkbox Options:</div>
            <div class="checkbox-container">
              <input type="checkbox" id="checkbox1" name="checkbox1" value="Option1">
              <label for="checkbox1">Option 1</label>
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="checkbox2" name="checkbox2" value="Option2">
              <label for="checkbox2">Option 2</label>
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="checkbox3" name="checkbox3" value="Option3">
              <label for="checkbox3">Option 3</label>
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="checkbox4" name="checkbox4" value="Option4">
              <label for="checkbox4">Option 4</label>
            </div>
            <br>
            <button type="submit">Apply</button>
          </form>
        </div>
<%- include("partials/foot") %>