<%- include("partials/head") %>
<%- include("partials/nav") %>
<div class="container">
  <div class="column" id="column-feed">
    <% if (items.length > 0) { %>
      <div class="separator"></div>
      <% items.forEach((plant, index) => { %>
        <div class="block">
          <div class="image-section">
            <img src="/<%= plant.img %>" alt="Image <%= index + 1 %>">
          </div>
          <div class="text-section">
            <p><span class="attribute">Uploaded by: </span><%= plant.user_name %></p>
            <p><span class="attribute">Date and time: </span><%= new Date(plant.dts).toLocaleString() %></p>
            <p><span class="attribute">Plant name: </span><%= plant.plant_name %></p>
            <p><span class="attribute">Plant scientific name: </span><%= plant_sci_name %></p>
            <p><span class="attribute">Location: </span><%= plant.lat %>, <%= plant.lon %></p>
            <p><span class="attribute">Description: </span><%= plant.plant_desc %></p>
            <p><span class="attribute">DBPedia Description: </span><%= dbpedia_desc %></p>
            <p><span class="attribute">DBPedia URI: </span><a href=<%= dbpedia_uri %>><%= dbpedia_uri%></a></p>
          </div>
        </div>
        <div class="separator"></div>
      <% }); %>
    <% } else { %>
      <h1 class="no-posts">No Posts Found!</h1>
    <% } %>
  </div>
  <div class="column" id="column-filter">
    <h2>Filters</h2>
    <form action="/filter" method="POST">
      <label for="sortOrder">Sort By:</label>
      <select id="sortOrder" name="sort_order">
        <option value="newest">Newest First</option>
        <option value="oldest">Oldest First</option>
      </select><br><br>
      <div>Checkbox Options:</div>
      <div class="checkbox-container">
        <input type="checkbox" id="checkbox1" name="checkbox1" value="Option1">
        <label for="checkbox1">Option 1</label>
      </div>
      <div class="checkbox-container">
        <input type="checkbox" id="checkbox2" name="checkbox2" value="Option2">
        <label for="checkbox2">Option 2</label>
      </div>
      <div class="checkbox-container">
        <input type="checkbox" id="checkbox3" name="checkbox3" value="Option3">
        <label for="checkbox3">Option 3</label>
      </div>
      <div class="checkbox-container">
        <input type="checkbox" id="checkbox4" name="checkbox4" value="Option4">
        <label for="checkbox4">Option 4</label>
      </div>
      <br>
      <button type="submit">Apply</button>
    </form>
  </div>
</div>
<%- include("partials/foot") %>